
.icon-dimicat:before { content: '\e800'; } /* '' */
.icon-dimigo:before { content: '\e801'; } /* '' */
.icon-bamboo:before { content: '\e802'; } /* '' */
.icon-cart:before { content: '\e803'; } /* '' */
.icon-club-lg:before { content: '\e804'; } /* '' */
.icon-dets:before { content: '\e805'; } /* '' */
.icon-edison:before { content: '\e806'; } /* '' */
.icon-facebook-lg:before { content: '\e807'; } /* '' */
.icon-request:before { content: '\e808'; } /* '' */
.icon-research:before { content: '\e809'; } /* '' */
.icon-social:before { content: '\e80a'; } /* '' */
.icon-submission:before { content: '\e80b'; } /* '' */
.icon-alert:before { content: '\e80c'; } /* '' */
.icon-arrow-down:before { content: '\e80d'; } /* '' */
.icon-arrow-left:before { content: '\e80e'; } /* '' */
.icon-arrow-right:before { content: '\e80f'; } /* '' */
.icon-arrow-up:before { content: '\e810'; } /* '' */
.icon-ball:before { content: '\e811'; } /* '' */
.icon-clip:before { content: '\e812'; } /* '' */
.icon-club-sm:before { content: '\e813'; } /* '' */
.icon-comment:before { content: '\e814'; } /* '' */
.icon-counsel:before { content: '\e815'; } /* '' */
.icon-cross:before { content: '\e816'; } /* '' */
.icon-delete:before { content: '\e817'; } /* '' */
.icon-detail:before { content: '\e818'; } /* '' */
.icon-edit:before { content: '\e819'; } /* '' */
.icon-editor:before { content: '\e81a'; } /* '' */
.icon-email:before { content: '\e81b'; } /* '' */
.icon-facebook-sm:before { content: '\e81c'; } /* '' */
.icon-hourglass:before { content: '\e81d'; } /* '' */
.icon-internet-class:before { content: '\e81e'; } /* '' */
.icon-list:before { content: '\e81f'; } /* '' */
.icon-logout:before { content: '\e820'; } /* '' */
.icon-long-arrow-down:before { content: '\e821'; } /* '' */
.icon-long-arrow-left:before { content: '\e822'; } /* '' */
.icon-long-arrow-right:before { content: '\e823'; } /* '' */
.icon-long-arrow-up:before { content: '\e824'; } /* '' */
.icon-menu:before { content: '\e825'; } /* '' */
.icon-minus:before { content: '\e826'; } /* '' */
.icon-moon:before { content: '\e827'; } /* '' */
.icon-muffin:before { content: '\e828'; } /* '' */
.icon-notice:before { content: '\e829'; } /* '' */
.icon-ok-circle:before { content: '\e82a'; } /* '' */
.icon-ok:before { content: '\e82b'; } /* '' */
.icon-plus:before { content: '\e82c'; } /* '' */
.icon-profile:before { content: '\e82d'; } /* '' */
.icon-school-meal:before { content: '\e82e'; } /* '' */
.icon-search:before { content: '\e82f'; } /* '' */
.icon-service:before { content: '\e830'; } /* '' */
.icon-setting:before { content: '\e831'; } /* '' */
.icon-sun:before { content: '\e832'; } /* '' */
.icon-upload:before { content: '\e833'; } /* '' */