@font-face {
  font-family: 'dimigoincon_23';
  src: url('../font/dimigoincon_23.eot?25534289');
  src: url('../font/dimigoincon_23.eot?25534289#iefix') format('embedded-opentype'),
       url('../font/dimigoincon_23.woff2?25534289') format('woff2'),
       url('../font/dimigoincon_23.woff?25534289') format('woff'),
       url('../font/dimigoincon_23.ttf?25534289') format('truetype'),
       url('../font/dimigoincon_23.svg?25534289#dimigoincon_23') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dimigoincon_23';
    src: url('../font/dimigoincon_23.svg?25534289#dimigoincon_23') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "dimigoincon_23";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-dimicat:before { content: '\e800'; } /* '' */
.icon-dimigo:before { content: '\e801'; } /* '' */
.icon-bamboo:before { content: '\e802'; } /* '' */
.icon-cart:before { content: '\e803'; } /* '' */
.icon-club-lg:before { content: '\e804'; } /* '' */
.icon-dets:before { content: '\e805'; } /* '' */
.icon-edison:before { content: '\e806'; } /* '' */
.icon-facebook-lg:before { content: '\e807'; } /* '' */
.icon-request:before { content: '\e808'; } /* '' */
.icon-research:before { content: '\e809'; } /* '' */
.icon-social:before { content: '\e80a'; } /* '' */
.icon-submission:before { content: '\e80b'; } /* '' */
.icon-alert:before { content: '\e80c'; } /* '' */
.icon-arrow-down:before { content: '\e80d'; } /* '' */
.icon-arrow-left:before { content: '\e80e'; } /* '' */
.icon-arrow-right:before { content: '\e80f'; } /* '' */
.icon-arrow-up:before { content: '\e810'; } /* '' */
.icon-ball:before { content: '\e811'; } /* '' */
.icon-clip:before { content: '\e812'; } /* '' */
.icon-club-sm:before { content: '\e813'; } /* '' */
.icon-comment:before { content: '\e814'; } /* '' */
.icon-counsel:before { content: '\e815'; } /* '' */
.icon-cross:before { content: '\e816'; } /* '' */
.icon-delete:before { content: '\e817'; } /* '' */
.icon-detail:before { content: '\e818'; } /* '' */
.icon-edit:before { content: '\e819'; } /* '' */
.icon-editor:before { content: '\e81a'; } /* '' */
.icon-email:before { content: '\e81b'; } /* '' */
.icon-facebook-sm:before { content: '\e81c'; } /* '' */
.icon-hourglass:before { content: '\e81d'; } /* '' */
.icon-internet-class:before { content: '\e81e'; } /* '' */
.icon-list:before { content: '\e81f'; } /* '' */
.icon-logout:before { content: '\e820'; } /* '' */
.icon-long-arrow-down:before { content: '\e821'; } /* '' */
.icon-long-arrow-left:before { content: '\e822'; } /* '' */
.icon-long-arrow-right:before { content: '\e823'; } /* '' */
.icon-long-arrow-up:before { content: '\e824'; } /* '' */
.icon-menu:before { content: '\e825'; } /* '' */
.icon-minus:before { content: '\e826'; } /* '' */
.icon-moon:before { content: '\e827'; } /* '' */
.icon-muffin:before { content: '\e828'; } /* '' */
.icon-notice:before { content: '\e829'; } /* '' */
.icon-ok-circle:before { content: '\e82a'; } /* '' */
.icon-ok:before { content: '\e82b'; } /* '' */
.icon-plus:before { content: '\e82c'; } /* '' */
.icon-profile:before { content: '\e82d'; } /* '' */
.icon-school-meal:before { content: '\e82e'; } /* '' */
.icon-search:before { content: '\e82f'; } /* '' */
.icon-service:before { content: '\e830'; } /* '' */
.icon-setting:before { content: '\e831'; } /* '' */
.icon-sun:before { content: '\e832'; } /* '' */
.icon-upload:before { content: '\e833'; } /* '' */